.chatblock .disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

.chatblock .imessage {
    /* background-color: #fff; */
    /* border: 1px solid #e5e5ea; */
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-size: inherit;
    margin: 0 auto;
    max-width: 600px;
    /* padding: 0.5rem 1.5rem; */
  }
  
  .chatblock .imessage p {
    border-radius: 2rem;
    line-height: 2;
    max-width: 90%;
    padding: 0.5rem 0.75rem;
    position: relative;
    word-wrap: break-word;
    text-align: justify;
  }

  .chatblock .imessage p img {
    border-radius: 1rem;
  }
  
  .chatblock .imessage p img.emoji-icon {
    max-width: 2rem;
  }
  
  .chatblock .imessage p::before,
  .chatblock .imessage p::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
  }
  
  .chatblock p.from-me {
    align-self: flex-end;
    background-color: #666;
    color: #fff; 
    margin-right: 20px;
  }
/* 
  .chatblock p.from-me {
    background: linear-gradient(to bottom, #57B2FF, #0086F8);
    box-shadow: 0px 5px 20px 1px;
    position:relative;
  }
  
  .chatblock p.from-me:after {
    content:"";
    display:block;
    width:50%;
    height:50%;
    background: black;
    position:absolute;
    bottom:0px;
    left:50%;
    transform:translateX(-50%);
    z-index:-1;
    box-shadow: 0px 5px 80px 0px;
  } */
  
  /* .chatblock p.from-me::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #248bf5;
    right: -0.25rem;
    transform: translate(0, -0.1rem);
  }
  
  .chatblock p.from-me::after {
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
  } */
  
  .chatblock p[class^="from-"] {
    width: fit-content;
    box-shadow:none;
    position:relative;
  }
  .chatblock p[class^="from-"]:after {
    content:"";
    display:block;
    width:50%;
    height:50%;
    background: white;
    position:absolute;
    bottom:0px;
    left:50%;
    transform:translateX(-50%);
    z-index:-1;
    /* box-shadow: 0px 5px 80px 0px; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  }
  
  .chatblock p.from-me ~ p.from-me {
    margin: 0;
  }
  
  .chatblock p.from-me ~ p.from-me:not(:last-child) {
    margin: 0;
  }
  
  .chatblock p.from-me ~ p.from-me:last-child {
    margin-bottom: 0.5rem;
  }

  .chatblock p.narrator {
    padding: 1.5em!important;
    background-color: #FFF;
    border: 1px dashed #ccc!important;
    max-width: 100%;
  }

  .chatblock p.from-them {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000;
    margin-left: 20px;
  }
  
  /* .chatblock p.from-them:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #e5e5ea;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
  }
  
  .chatblock p.from-them::after {
    background-color: #fff;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
  } */
  
  .chatblock p[class^="from-"].emoji {
    background: none;
    font-size: 2.5rem;
  }
  
  .chatblock p[class^="from-"].emoji::before {
    content: none;
  }
  
  .chatblock .no-tail::before {
    display: none;
  }
  
  .chatblock .margin-b_none {
    margin-bottom: 0 !important;
  }
  
  .chatblock .margin-b_one {
    margin-bottom: 1rem !important;
  }
  
  .chatblock .margin-t_one {
    margin-top: 1rem !important;
  }
  
  .chatblock pre {
    white-space: break-spaces;
    overflow: auto;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }
  
  .chatblock .container {
    margin: 0 auto;
    max-width: 600px;
    padding: 1rem;
  }
/*   
  .chatblock h1 {
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
  
  .chatblock h2 {
    border-bottom: 1px solid #e5e5ea;
    color: #666;
    font-weight: normal;
    margin-top: 0;
    padding-bottom: 1.5rem;
  } */
  
  .chatblock .comment {
    color: #222;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1.25rem auto;
    width: 100%;
    padding: 0;
  }

  .chatblock .comment-full {
    max-width: 100% !important;
    width: 100%;
  }

  @media screen and (max-width: 800px) {
  
    .chatblock .container {
      padding: 0.5rem;
    }
  
    .chatblock .imessage {
      font-size: inherit;
      margin: 0 auto;
      max-width: 600px;
      padding: 0.15rem 0.875rem;
    }
  
    .chatblock .imessage p {
      margin: 0.2rem 0;
    }
  }


  /* chat-header */
.chatblock .imessage .chat-header,
.chatblock .imessage .chat-header-s,
.chatblock .imessage .chat-header-xl {
    border-radius: 1.5em;
    margin: .5em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}
.chatblock .imessage .chat-header-s {
  width: 1.5em;
  height: 1.5em;
}
.chatblock .imessage .chat-header {
    width: 2em;
    height: 2em;
}
.chatblock .imessage .chat-header-xl {
  width: 3em;
  height: 3em;
}
.chatblock .imessage .chat-name{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.chatblock .imessage .chat-name-me{
    text-align: right;
    flex-direction: row-reverse;
}
.chatblock .imessage .chat-name-them{
    text-align: left;
}

.chatblock .imessage .chat-label{
  font-weight: bold;
  text-decoration: underline;
  margin: 0px 4px;
}

.chatblock .imessage .text-center,
.chatblock .imessage h1,
.chatblock .imessage h2,
.chatblock .imessage h3,
.chatblock .imessage h4,
.chatblock .imessage h5,
.chatblock .imessage h6
{
  text-align: center;
  margin: 0.5em;
  color: #AAA;
}

.chatblock .imessage .text-bold{
  font-weight: bold;
}

.chatblock .imessage .text-muted{
  font-size: 1.15rem;
  margin: 5px;
}

.chatblock .container-image{
  max-width: 400px;
  margin: auto;
}

.chatblock .container-image img{
  border-radius: 1.15rem;
}
.chatblock .container-mp3{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #999999;
  border-radius: 1.15rem;
  line-height: 1.75;
  padding: 0.875rem;
  position: relative;
  word-wrap: break-word;
  font-size: 1.15rem;
  margin: 5px;
}
.chatblock .container-youtube{
  height: 300px;
  width: 400px;
  margin: auto;
}
.chatblock .container-youtube iframe{
  border-radius: 1.15rem;
}
.chatblock .container-decision{
  display: flex;
  justify-content: space-between;
}

.chatblock .container-decision .decision-option{
  cursor: pointer;
  background-color: #e5e5ea;
  color: #000;
  border-radius: 1.15rem;
  line-height: 1.25;
  padding: 0.5rem .875rem;
  margin: 0 auto 1rem;
  position: relative;
  word-wrap: break-word;
  text-align: center;
}

.chatblock .container-decision .decision-option:focus,
.chatblock .container-decision .decision-option:hover{
  background-color: #bdbdbe;
}

/*
*
*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.chatblock .flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  padding: 30px;
  margin: auto;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.chatblock .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.chatblock .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.chatblock .flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.chatblock .flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.chatblock .flip-card-back {
  background-color: #1ab394;
  color: white;
  transform: rotateY(180deg);
}

.chatblock .flip-card-back p{
  margin: 1em;
}

.chatblock .casts-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.chatblock .casts-list .cast{
  margin: 5px;
}

.chatblock .casts-list .cast .square{
  opacity: 0.7;
  cursor: pointer;
  color: #FFF;
  text-shadow: 2px 2px #000;
  line-height: 54px;
  text-align: center;
  border: 3px solid #333;
  border-radius: 60px;
  width: 66px;
  height:0;
  padding-bottom:60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chatblock .casts-list .cast .square:hover{
  opacity: 1;
}
.chatblock .casts-list:after{
  content: '';
  display: block;
  padding-bottom: 50px;
}

.chatblock .rawscript-chatblock-container{
  position: relative;
}

.chatblock .rawscript-chatblock-container a{
  cursor: pointer;
}

.chatblock .rawscript-chatblock-editor{
  position: absolute;
  top: 0px;
  right: 10px;
}

.chatblock .rawscript-chatblock-container{
  overflow: auto;
}

.chatblock .vf-80 {
  min-height: 80vh;
}

#chatblock-devtools,
#chatblock-devtools pre,
#chatblock-devtools .d-none {
    display: none;
}